#content {
    margin: 0 2em;
}

nav {
    position: fixed;
    width: 100%;
}

main {
    position: relative;
    top: 4em;
}

.folder, .file {
    padding: .5em;
    width: 8em;
    min-height: 8em;
    float: left;
    text-align: center;
    word-wrap: break-word;
    word-wrap: break-all;
}

.icon {
    display: block;
    font-size: 200%;
}

.dataset {
    margin: 1em 0;
}

.dataset .icon {
    float: left;
}

.dataset .icon-source {
    display: block;
    margin-left: 3em;
    font-style: italic;
}

.dataset .icon-label {
    display: block;
    margin-left: 3em;
}

#content.loading {
    color: #aaaaaa;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}