.folder, .file {
    padding: .5em;
    width: 8em;
    min-height: 8em;
    float: left;
    text-align: center;
    word-wrap: break-word;
    word-wrap: break-all;
}

.icon {
    display: block;
    font-size: 200%;
}
